.control-panel
  flex: 0 7rem
  display: flex
  justify-content: space-around
  padding: 10px 20px
  background-color: yellow

  &__objects-records,
  &__buttons
    align-self: center

    & button
      min-width: 70px
      height: 50px
      margin: 0 5px
      font-size: 20px